/*-- scss:defaults --*/
$navbar-bg: #FDFBF7;
$navbar-fg: #98A08D;
$body-bg: #D1D9CE;
$body-color: #474e3eeb;
$link-color: #98A08D;
$font-family-sans-serif: "Nunito", sans-serif;
$headings-font-weight: 600;
$font-size-base: 1.2rem; 


/*-- scss:rules --*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

.custom-highlight {
  background-color: #eaf4fb;
  border-left: 4px solid #5d6354;
  padding: 1rem;
  border-radius: 4px;
  font-style: italic;
}

h1, h2, h3 {
  color: #556055;
  margin-bottom: 0.8rem;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.2rem;
}

.nav-link {
  font-weight: 400;
  letter-spacing: 0.3px;
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #D1D9CE;
}


